<div id="concepts-hourly">
        <div class="control-group sub-title-form">
            <label class="control-label"> {{ _("Hourly concepts") }}</label>
            <div class="controls"></div>
        </div>
        <div id="concepts-zone">
            <div id="left-checks">
                <div><label   class="checkbox"><input id="805" name="MD" type="checkbox" > {{ _("Day Ahead market - MD") }} </label></div>
                <div><label class="checkbox"><input id="806" name="RPBF" type="checkbox" > {{ _("PBF technical constraints- RPBF") }} </label></div>
                <div><label class="checkbox"><input id="807" name="RTR" type="checkbox" > {{ _("Real time technical constraints - RTR") }}</label></div>
                <div><label class="checkbox"><input id="808" name="MI" type="checkbox" > {{ _("Intraday market - MI") }} </label></div>
                <div><label class="checkbox"><input id="809" name="RI" type="checkbox" > {{ _("Intraday market tech. constraints - RI") }} </label></div>
                <div><label class="checkbox"><input id="810" name="RPAS" type="checkbox" > {{ _("Upward reserve power traders and direct consumers - RPAS") }} </label></div>
                <div><label class="checkbox"><input id="811" name="BS" type="checkbox" > {{ _("Secondary reserve - BS") }} </label></div>
                <div><label class="checkbox"><input id="812" name="DM" type="checkbox" > {{ _("Measured imbalances - DM") }} </label></div>
                <div><label class="checkbox"><input id="1368" name="IEB" type="checkbox" > {{ _("Balance energy failure - IEB") }} </label></div>
                <div><label class="checkbox"><input id="1014" name="PVPC2DHA" type="checkbox" >PVPC FEU 2.0.DHA - PVPC2DHA</label></div>
            </div>
            <div id="right-checks">
                <div><label class="checkbox"><input id="813" name="SD" type="checkbox" > {{ _("Imbalances net value - SD") }} </label></div>
                <div><label class="checkbox"><input id="1286" name="CFP" type="checkbox" > {{ _("Power factor control - CFP") }} </label></div>
                <div><label class="checkbox"><input id="814" name="PC" type="checkbox" > {{ _("Capacity payments - PC") }} </label></div>
                <div><label class="checkbox"><input id="1277" name="SI" type="checkbox" > {{ _("Interruptibility service - SI") }} </label></div>
                <div><label class="checkbox"><input id="815" name="SPO" type="checkbox" > {{ _("P.O.14.6 balance - SPO") }} </label></div>
                <div><label class="checkbox"><input id="816" name="FNUPG" type="checkbox" > {{ _("Generic Units Nom. Failure UPG - FNUPG") }} </label></div>
                <div><label class="checkbox"><input id="1013" name="PVPC2A" type="checkbox" >PVPC FEU 2.0.A - PVPC2A</label></div>
                <div><label class="checkbox"><input id="1015" name="PVPC2DHS" type="checkbox" >PVPC FEU 2.0.DHS - PVPC2DHS</label></div>
                <div>
                    <label class="checkbox">
                    <input id="loss_check" name="PERD" type="checkbox">
                        <label class="label-PERD">{{ _("Loss Coefficient - PERD") }}</label>
                    <select id="loss_coefficients">
                        <option value="-" disabled selected>--</option>
                        <option value="20DH">2.0DH</option>
                        <option value="20DHS">2.0DHS</option>
                        <option value="21A">2.1A</option>
                        <option value="21DH">2.1DH</option>
                        <option value="21DHS">2.1DHS</option>
                        <option value="30A">3.0A</option>
                        <option value="31A">3.1A</option>
                        <option value="61A">6.1A</option>
                        <option value="61B">6.1B</option>
                        <option value="62">6.2</option>
                        <option value="63">6.3</option>
                        <option value="64">6.4</option>
                    </select>
                </label></div>
            </div>
        </div>
        <div id="free-market-link"> {{ _("Concepts and prices published at") }} <a href="https://www.esios.ree.es/es/mercados-y-precios" target="_blank"> Red Eléctrica Española</a></div>
    </div>

