<div id="concepts-others">
    <div class="control-group sub-title-form">
        <label class="control-label">{{ _("Your price has another concept?") }}</label>
        <div class="controls"></div>
    </div>
    <div id="others-body">
        <ul class="nav nav-pills">
            <li class="dropdown">
                <label id='label-checker-concepts' class="checkbox">
                    <input id="select-all-concepts" onclick="check_all_concepts()" type="checkbox" >
                </label>
                <a class="dropdown-toggle checkall" data-toggle="dropdown" href="#"></a>
            </li>
            <li>
                <button class="btn" id="selec-price-new-button" onclick="new_concept_price()">{{ _("Add concept") }}</button>
            </li>
            <li id="actions-concepts" class="dropdown">
                <a  data-toggle="dropdown" class="dropdown-toggle">{{_("Actions") }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li style="display: list-item;">
                        <a onclick="deleteSelectedOtherConcept()">{{ _("Delete") }}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <input type="hidden" class="numberOfVar" value="1">
        <table id="other-concepts-table" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th></th>
                    <th class="sortable"> {{ _("Name of Concept") }}</th>
                    <th>{{ _("Name of variable") }}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

