
    <div id="header">
        <div class="title-zone">
        <div class="title-name">{{ _("Definition of other concepts to prices Pool") }}</div>
        </div>
        <div id="other-concepts-div" class="form-horizontal" >
            <div class="control-group" style="margin-left: -130px">
               <label class="header">{{ _("Name") }}</label>
                <div class="controls">
                    <input type="text" style="width: 400px;" class="price_neg input-small" id="concepts_price_name">
                </div>
            </div>

        <div class="subtitle-content">{{ _("Set a price for each tariff periods and add as many price changes as you want") }}</div>
            <div id="intervals">
                <div style="margin-top: 5px;">
                    <input type="hidden" class="numberOfIntervals" value="1">
                </div>
            </div>

            <div class="control-group">
                <div class="addInterval addConditional controls">
                    <label class="text" style="width: 250px;" onclick="addChangePriceForm()">{{ _("Add price change") }} </label>
                    <label class="img" onclick="addChangePriceForm()"></label>
                </div>
            </div>
            <button class="btn btn-form" id="save-concept">{{ _("Save") }}</button>
            <button type="button" class="btn btn-form" onclick="backToConfigPrice()">{{ _("Cancel") }}</button>

        </div>
    </div>
{% include "config_price/interval_other_concepts.html" %}




