<div id="general-info" class="clearfix local-sections-container">
        <div class="control-group sub-title-form">
            <label class="control-label">{{ _("General Information") }}</label>
            <div class="controls"></div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _("Links price") }} </label>
            <div id="prices-select" class="controls">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _("Price frequency") }} </label>
            <div class="controls" style="margin-top: 7px"> {{ _("Hourly") }} </div>
        </div>

{#         <div class="control-group">#}
{#            <label class="control-label">{{ _("Site") }} </label>#}
{#            <div id="sites-select" class="controls">#}
{#                <select id="sites" class="generic-dropdown">#}
{#                        <option value="Peninsula">Peninsula</option>#}
{#                </select>#}
{#            </div>#}
{#         </div>#}

</div>