<div id="popup-recal" style="text-align: left; display: block; width: auto; min-height: 94px; height: auto; padding: 0px 62px 40px 40px;"  scrolltop="0" scrollleft="0" hidden>

    <div id="signals" style="margin-left: 39px;">
        <div class="control-group"  style="margin-bottom: 60.5px;" id="control-date">
            <div style="float: left; margin-top: 27px"><label class="control-label">{{ _('Recalculate') }}</label></div>
            <div style="float: left; width: 180px;    margin-bottom: 40px;" class="controls">
                <label class="control-label" style=" width: 22%;margin-left: 39px" >{{   _("From") }} </label>
                <input type="text" class="from-rate-datepicker input-small " value="" name="intervalPriceList[0].fromDate" id="from-date" disabled>
            </div>
            <div style="float: left; width: 180px;    margin-bottom: 40px;" class="controls">
                <label class="control-label" style="margin-left: 39px" >{{   _("To") }} </label>
                <input type="text" class="from-rate-datepicker input-small " value="" name="intervalPriceList[0].fromDate" id="to-date" disabled>
            </div>
        </div>
        <div style="margin-bottom: 31px;">
            <label style="text-align: center; font-size: 10px;">
                {{   _("Unable to recalculate prices before 01/04/2014") }}
            </label>
        </div>
    </div>


    <div class="right">
            <button type="button" class="btn btn-form" onclick="DX.ui.closeAllPopups();">{{ _("Cancel") }}</button>
            <button class="btn btn-form ok" id="accept-recal" >{{ _("Accept") }}</button>
    </div>
</div>




