<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
    <![endif]--> <!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en">
        <![endif]--> <!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>404</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  </head>

   <body>
  	<div> <h1 style="font-size:60px; color: #719F19; margin-top: 40px; margin-bottom: 30px;">Ooops!!</h1> </div>
  	<div style="margin-top: 20px; margin-bottom: 10px; font-size: 20px;"> <b>{{ message }}</b></div>
  </body>
</html>