<table id="row-prices-bone" hidden>
    <tbody class="odd-body">
    <tr class="odd">
        <td style="width:30px;">
            <label class="checkbox">
                <input type="checkbox">
            </label>
        </td>
        <td class="name-column"><a onclick></a></td>
        <td class="tariff-column"></td>
        <td class="period-column"></td>
    </tr>
    </tbody>
</table>