<div id="header">
    <div class="title-zone">
        <div class="title-name">Definition others concepts for prices Pool</div>
        </div>
</div>

<div id="substitle-other-concepts">Set a price for each tariff periods and price changes add as many as you want</div>

<div id="prices-global-zone">
    <div id="basic-price-zone"></div>
    <div id="changes-price-zone"></div>

</div>

<div class="control-group">
    <div class="addInterval addConditional controls">
        <label class="text" style="width: 250px;">Add change of prices</label>
        <label class="img"></label>
    </div>
</div>

<div id="change-price-bone" hidden>

</div>