<div id="header">
    <div class="title-zone">
        <div class="title-name">{{ _("New free market price for Spain (Pool)") }}</div>
        </div>
</div>

<div class="config-body form-horizontal">
    {% include "config_price/general_info.html" %}
    {% include "config_price/concepts_hourly.html" %}
    {% include "config_price/concepts_others.html" %}
    {% include "config_price/formula.html" %}
    <div id="ready-div">
        <button id="ready-button" class="save-button">{{ _("Ready! I want to use this price") }}</button>
    </div>
    <div style="float: right">
        <div style="font-size: 90%;padding-left: 11px;">
            {{ _("Prices based on the available information in:") }}
        </div>
        <img src="{{url_for('static', filename='img/red_electrica.png')}}"  style="width:247px;height:68px;">
    </div>
</div>
{% include "config_price/prices_dropdown_bone.html" %}
