body{
	width: 100%;
    height: 100%;
	font-family: Arial;
    margin: 0;
    padding: 0 30px 0 30px;
}

#header{
    padding: 30px 0 0 0;
	height: 100px;
    margin-bottom: 30px;
}

.title-name{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 8px;
    line-height: 13px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#concepts-zone{
    margin-left: 22%;
}

#concepts-others{
    margin-bottom: 75px;
    clear: both;
}

#free-market-link{
    clear: both;
    float: right;
    margin-bottom: 10px;
}

#formula-text{
    width: 80%;
}

.error-text{
    border-width: 2px;
    border-color: #FFA6A9;
    border-style: solid;
}

#left-checks{
    float: left;
    width: 40%;
}

#ready-div{
    text-align: center;
}

/********************
    Button Save
*********************/

.save-button{
    cursor: pointer;
	width: 247px;
	color: #f2f2f2;
	padding: 12px 0 12px 20px;
	border-radius: 2px;
	font-size: 13.75px;
	line-height: 15px;
	border: 0px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    transition: .2s ease-out;
	background: url('../img/ic_save.png') 20px center no-repeat rgba(24, 136, 6, 0.8);
}

.working{
    background: url('../img/loader_mini.gif') 20px center no-repeat rgba(24, 136, 6, 0.8);
}

.save-button:disabled{
	cursor: inherit;
	background-color: #b2b2b2;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}

.save-button:hover {
    background-color: rgba(24, 136, 6, 0.6);
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
}

.save-button:active{
    background-color: rgba(24, 136, 6, 1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}

#others-body{
    margin-left: 10%;
}

#right-checks .select2-container{
    height: 25px;
    margin-top: -10px;
}

.label-PERD{
    margin-top: -6px;
    margin-right: 5px;
}

@media only screen and (max-width: 1300px){
    #left-checks{
        float: none;
        width: 100%;
    }
    #right-checks{
        width: 100%;
    }
}